{% extends 'base.html'%}
{% block title%} vegetables {%endblock title%}
{% block body %}


<form method="post">
    {% csrf_token %}
    <input type="text" name="street_address" placeholder="Street Address" required>
    <input type="text" name="city" placeholder="City" required>
    <input type="text" name="state" placeholder="State" required>
    <input type="text" name="zipcode" placeholder="Zipcode" required>
    <input type="text" name="country" placeholder="Country" required>
   <a href="{% url 'place_order' %}"><button type="submit">Add Address</button></a>
</form>
{% endblock content %}