{% extends 'base.html'%}
{% block title%}  leafy vegetables {%endblock title%}
{% block body %}
<h1 class="text-center"> leafy vegetables</h1>
<div class="conatiner">
    <div class="row">
    {% for vegetable in leafy_vegetables %}
            
        <div class="card " style="margin:10px; width: 200px; max-height: 350px; ">
              
                                
                {% if vegetable.image %}
                    <img src="{{ vegetable.image.url }}" class="img-fluid " style=" width:150px; height: 100px; object-fit:center;  line-height: 8px;" alt="">
                {% endif %}
                <br>
                                
                <h5 class="text-center" style="line-height: 8px;">{{vegetable.name }}</h5>
                 <br>                   
            
                <p class="text-center" style="line-height: 8px;">Price: ₹{{ vegetable.price }}</p>
                <p class="text-center" style="line-height: 8px;">Weight: {{ vegetable.weight_in_kgs }} /kgs </p>

                
                <p class="text-center" style="line-height: 8px;">Quantity: {{ vegetable.quantity }}</p>
                <a href="{% url 'add_to_cart' vegetable.id  %}" class="btn btn-warning btn-block " style="line-height: 10px;"> Add to cart</a>
                            
                <br>
                            
        </div>
        
    {% endfor %}
    </div>
</div>
{% endblock body %}