{% extends 'base.html'%}
{% block title%} signup{%endblock title%}
{% block content %}

{% for message in messages %}

<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
<strong>{{message}}</strong>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
</div>

{% endfor %}



<div class="card bg-light p-3 ">
    <h1 class="text-dark  text-center">Signup</h1>
    <form action="/auth/signup/" method="post">
            {% csrf_token %}
            <label for="email">Email</label>
            <div class="form-group">
            <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <label for="username">Username</label>
            <div class="form-group">
                <input type="text" class="form-control" id="username" name="username" required>
            </div>

            <label for="password">password</label>
            <div class="form-group">
                <input type="password" class="form-control" id="pass1" name="pass1" required>
            </div>
    
            <label for="confirmpassword">Confirm password</label>
            <div class="form-group">
                <input type="password" class="form-control" id="pass2" name="pass2" required>
            </div>
            <label>Address:</label>
        <div class="form-group">
            <input type="address" class="form-control" id="address" name="address" required>
            </div>

            <label for="phonenumber">Phonenumber</label>
            <div class="form-group">
                <input type="phonenumber" class="form-control" id="phonenumber" name="phonenumber" required>
            </div>
            <br>
            <button type="submit" class="btn btn-dark">Signin</button>
    
    
            <br>
            Already User exist? <a href="/auth/login/">login</a>
            <br>
    
    </form>

     
</div>

{% endblock content %}